---
const { title, date, tags } = Astro.props
---

<div class="mb-5">
  <h2 
    transition:name={`${title}-${date}`} 
    class="my-0 w-full text-4xl break-words max-w-full"
  >
    {title}
  </h2>
  <div class="flex items-center justify-between w500:flex-col w500:items-start">
    <div class="flex items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="mr-3 h-4 w-4"
        viewBox="-0.5 0 15 15"
      >
        <path
          class="fill-lightModeText dark:fill-darkModeText"
          fill-rule="evenodd"
          d="M61,154.006845 C61,153.45078 61.4499488,153 62.0068455,153 L73.9931545,153 C74.5492199,153 75,153.449949 75,154.006845 L75,165.993155 C75,166.54922 74.5500512,167 73.9931545,167 L62.0068455,167 C61.4507801,167 61,166.550051 61,165.993155 L61,154.006845 Z M62,157 L74,157 L74,166 L62,166 L62,157 Z M64,152.5 C64,152.223858 64.214035,152 64.5046844,152 L65.4953156,152 C65.7740451,152 66,152.231934 66,152.5 L66,153 L64,153 L64,152.5 Z M70,152.5 C70,152.223858 70.214035,152 70.5046844,152 L71.4953156,152 C71.7740451,152 72,152.231934 72,152.5 L72,153 L70,153 L70,152.5 Z"
          transform="translate(-61 -152)"></path>
      </svg>
      <p class="text-sm leading-5 tracking-wide">
        {date}
      </p>
    </div>
    <div class="flex items-center">
      {
        tags.map((tag: string) => (
          <a class="ml-5 text-sm first:ml-0" href={`/tags/${tag}`}>
            #{tag}
          </a>
        ))
      }
    </div>
  </div>

  <button id="back-to-top" class="fixed bottom-12 right-4 p-2 bg-[rgb(57,86,59)] text-white rounded-full shadow-lg hover:bg-[rgb(57,86,59)] border-none">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"><path d="M12 19V6M5 12l7-7 7 7"/></svg>
  </button>
</div>

<script src="/scripts/backToTop.js" type="module" is:inline></script>
